body {
    font-family: 'Courier New', Courier, monospace;
}

.body {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.title {
    font-size: 48px;
    margin: 32px;
}

.turn {
    font-size: 32px;
    color: red;
    margin-bottom: 32px;
}

.board {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 175px;
    height: 175px;
    border-style: solid;
}

.box:hover {
    background-color: lightgrey;
}

.text {
    font-size: 48px;
}

.restart {
    margin: 32px;
    width: 200px;
    height: 100px;
    font-size: 32px;
    background-color: white;
    border-style: solid;

}

.restart:hover {
    background-color: lightgrey;
}

.restart:active {
    background-color: grey;
}